/**********************************************/
/*normalize css for all browsers, reset values*/
/**********************************************/
* {
	padding:0;
	margin: 0;
}

html, body {
	margin: 0;	
	padding: 0;	
	height: 100%;
	width: 100%; 
}

fieldset {
	border: none;
	display: block;
}
/**********************************************/


body {
	/*background-image: url("../img/dogs.jpg");*/
	font-family: 'Quicksand';
}

h2 {
	font-size: 2em;
	color: #b30000;
	margin-top: 2vh;
}
h3 {
	font-size: 1em;
	color: #2abbaa;
}

h4 {
	font-size: 1em;
	color: #2abbaa;
	margin-top: 3vh;
	text-align: center;
}

p {
	font-size: 1em;
	color: #424242;
}

#map {
	position: absolute;
	width: 96vw;
	margin: 2vw;
	margin-bottom: 0;
	height: 46vh;
	top: 0;
}
#title img{
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	top: 55vh;
	/*margin-top: 50vh;*/
	padding-left: 2vw;
}

#title {
	position: relative;
	display: inline-block;
	width: 25vw;
}

#lists {
	display: inline-block;
	position: absolute;
	width: 75vw;
	height: 48vh;
	margin-top: 55vh;
	/*margin-left: 25vw;*/
}

.ui-dialog{
	height: 350px !important;
}

.bars {
	position: absolute;
	width: 15vw;
	height: 50vh;
	bottom: 0;
}

.food {
	position: absolute;
	width: 15vw;
	height: 50vh;
	bottom: 0;
	/*padding: 5px;*/
	margin-left: 20vw;
}

.parks {
	position: absolute;
	width: 15vw;
	height: 50vh;
	bottom: 0;
	/*padding: 5px;*/
	margin-left: 40vw;
}

.shops {
	position: absolute;
	width: 15vw;
	height: 50vh;
	bottom: 0;
	/*padding: 5px;*/
	margin-left: 60vw;
}

#form {
	position: absolute;
	top: 50px;
	width: 30vw;
	height: 30vh;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
}

.placeTitle {
	/*position: absolute;*/
	width: 15vw;
	height: 20px;
	padding: 5px;
	padding-left: 0px;
	text-align: left;
}

#deleteButton {
	height:20px;
	width:20px;
	float: right;
	margin-top: -20px;
	background-color: #fff;
	border:2px solid #2abbaa;
	color:#2abbaa;
	padding: 3px;
	cursor: pointer;
	text-align: center;
	z-index: 5;
}
