/**********************************************/
/*normalize css for all browsers, reset values*/
/**********************************************/
* {
	padding:0;
	margin: 0;
}

html, body {
	margin: 0;	
	padding: 0;	
	height: 100%;
	width: 100%; 
}

fieldset {
	border: none;
	display: block;
}
/**********************************************/


body {
	/*background-image: url("../img/dogs.jpg");*/
	font-family: 'Quicksand';
}

h2 {
	font-size: 2em;
	color: #b30000;
}
h3 {
	font-size: 1em;
	color: #2abbaa;
}

h4 {
	font-size: 1em;
	color: #2abbaa;
	margin-top: 3vh;
	text-align: center;
}

p {
	font-size: 1em;
	color: #424242;
}

#map {
	position: absolute;
	width: 96vw;
	margin: 2vw;
	margin-bottom: 0;
	height: 40vh;
}

#lists {
	position: absolute;
	width: 75vw;
	height: 50vh;
	margin-top: 50vh;
}

.bars {
	position: absolute;
	width: 20vw;
	height: 50vh;
	bottom: 0;
	padding: 5px;
	margin-left: 5vw;
}

.ui-dialog{
	height: 350px !important;
}
.food {
	position: absolute;
	width: 20vw;
	height: 50vh;
	bottom: 0;
	padding: 5px;
	margin-left: 30vw;
}

.parks {
	position: absolute;
	width: 20vw;
	height: 50vh;
	bottom: 0;
	padding: 5px;
	margin-left: 55vw;
}

.shops {
	position: absolute;
	width: 20vw;
	height: 50vh;
	bottom: 0;
	padding: 5px;
	margin-left: 80vw;
}

#form {
	position: absolute;
	top: 50px;
	width: 30vw;
	height: 30vh;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
}

.placeTitle {
	/*position: absolute;*/
	width: 15vw;
	height: 20px;
	padding: 5px;
	text-align: left;
}

