/**********************************************/
/*normalize css for all browsers, reset values*/
/**********************************************/
* {
	padding:0;
	margin: 0;
}

html, body {
	margin: 0;	
	padding: 0;	
	height: 100%;
	width: 100%; 
}

fieldset {
	border: none;
	display: block;
}
/**********************************************/

@font-face {
	font-family: 'Walter Turncoat';
	src: url('http://fonts.googleapis.com/css?family=Walter+Turncoat');
}
